{{#partial "content"}}

    {{#if editHero}}
        <h1>Edit this Hero!</h1>
        <form action="/heroes/{{editHero.id}}/update" method="post">
            <label for="name">Edit this hero's name</label>
            <input id="name" name="name" type="text" value="{{editHero.name}}">

    {{else}}
    <p>Add a new Hero:</p>

    <form action="/heroes/new" method="POST">
        <label for="hero">Hero Name</label>
        <input id="hero" name="hero" type="text">
    {{/if}}
        <button type="submit" class="btn btn-default">Go!</button>
    </form>

{{/partial}}

{{> layout.hbs}}