{{#partial "content"}}

    <h1>Hero List!</h1>

    {{#if heroes}} <!--if heroes exist, then -->
    {{#each heroes }} <!--loop-->
    <p>Current hero:</p>
    <p>{{ name }}</p> <!--show-->
    {{/each}}
    {{else}} <!--no heroes!-->
    <p>No heroes!</p>
    {{/if}}


{{/partial}}

{{> layout.hbs}}