{{#partial "content"}}

    <h1>Hero List!</h1>

    <p>Add a new Hero:</p>

    <form action="/heros/new" method="POST">
        <label for="hero">Hero Name</label>
        <input id="hero" name="hero" type="text">

        <button type="submit" class="btn btn-default">Add hero</button>
    </form>
{{/partial}}

{{> layout.hbs}}